<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row justify-content-center">
	<div class="col-lg-6">
		<div class="input-group file-upload">
			<span class="wpcf7-form-control-wrap file-801 file-input">
				<input type="file" name="file-801" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required form-control-file" id="cv_file" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false">
			</span>
			<label></label>
		</div>
	</div>
</div>

</body>
</html>